<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Artists <%= controller.action_name %></title>
</head>
<body>
<div id="container">
  <div id="banner">
    <%= image_tag("logobackdrop.png")  %>
    <p>
      <div id="bannerside">
      <% form_tag '/lyrics/search', :method => 'get' do %>
        <%= text_field_tag :searchall, params[:searchall] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </p>
      </div>
      <div id="bannermiddle">
      <a href="../"> Home </a> &nbsp;
       <a href="../lyrics/video"> Videos </a> &nbsp;
      <%= link_to 'Submit', new_lyric_path %>
      </div>
  </div>

  <div id="columns">
    <div id="mainleft">
      <% previous_title = " " %><br /><br />
      <h3>
        Songs
      </h3>  
      <% for lyric in @artistsall -%>
        <% if previous_title != lyric.title %>
          <h3>
            <a href="../lyrics/title?search=&titlesearch=<%=h lyric.title %>"> <%=h lyric.title %> </a>
          </h3>
        <% end %>
        <% previous_title = lyric.title %>
      <% end %>
    </div>
    <div id="mainright">
      <% previous_album = " " %><br />
      <h3>
        Albums
      </h3>  
      <% for lyric in @artistsall -%>
        <% if previous_album != lyric.album %>
          <h3>
            <a href="../lyrics/album?search=&albumsearch=<%=h lyric.album %>"> <%=h lyric.album %> </a>
          </h3>
        <% end %>  
      <% previous_album = lyric.album %>
    <% end %>
    </div>
    <div id="mainmiddle">
      <h2> Search Results </h2>
      <% previous_artist = " " %>
      <h3>
        Artists
      </h3>  
      <% for lyric in @artistsall -%>
        <% if previous_artist != lyric.artist %>
          <h3>
            <a href="../lyrics/artist?search=&artistsearch=<%=h lyric.artist %>"> <%=h lyric.artist %> </a>
          </h3>
        <% end %>
        <% previous_artist = lyric.artist %>
      <% end %>  
    </div>
  </div>
</div>
</body>
</html>

