<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Artists <%= controller.action_name %></title>
</head>
<body id="store">
<div id="container">
  <div id="banner">
    <%= image_tag("logobackdrop.png")  %>
    <p>
      <div id="bannerside">
      <% form_tag '/lyrics/search', :method => 'get' do %>
        <%= text_field_tag :searchall, params[:searchall] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </p>
      </div>
      <div id="bannermiddle">
      <a href="../"> Home </a> &nbsp;
      <a href="../lyrics/video"> Videos </a> &nbsp;
      <%= link_to 'Submit', new_lyric_path %> <br />
      </div>
  </div>

  <div id="columns">
    <div id="side">
      <% for lyric in @titles -%>
        <h4>
          <%=h lyric.artist %> <br />          
        </h4>
        <h5>
          <%= image_tag(lyric.image_url, :size => "150x150") %> <br />
          <%=h lyric.album %> &nbsp; (
          <%=h lyric.year %> )   <br /><br />
        </h5>
      <% end %>
    </div>
 <div id="topbackground">
  </div>
    <div id="mainmid">
      <% previous_title = " " %>
      <% for lyric in @titles -%>
        <h3>
          <%= lyric.lyrics %>
        </h3>
      <% end %>
      <br /><br />
    </div>
    <div id="bottombackground">
    </div>
  </div>
</div>
</body>
</html>




