<div id="columns">
  <div id="adleft">
    <% render :partial => 'layouts/adcode', :locals => {:post => @post} %>
  </div>
  <div id="main">
    <h3>
      Welcome to Lyric Mesh! <br /> Browse or Search for your favorite Artist above<br/><br/>
      Top Artists
    </h3>
    <div id="mainleft">
      <h3>
        <%= display_mainpage(0) %><br/>
        <%= @artist_name %>
      </h3>
    </div>
    <div id="mainmiddle"><br/>
      <h3>
        <%= display_mainpage(1) %><br/>
        <%= @artist_name %> 
      </h3>
    </div>
    <div id="mainright">
      <h3>
        <%= display_mainpage(2) %><br/>
        <%= @artist_name %> 
      </h3>
    </div><br/><br/>
    <%= render :partial => 'layouts/bottombackground', :locals => {:post => @post} %>
  </div>
</div>
