<body>
  <div id="columns">
      <div id="adleft">
      </div>
      <div id="adright">
        <h5> <%= @album.album %> <%= @album.year %> </h5>
        <p>
          <% cd_cover = "../songs?browse=" + @album.id.to_s %>
          <%= link_to  image_tag (@album.photo_url, :size =>"110x110"), cd_cover %><br/>
          <%= @album.description %>
        </p>       
      </div>
    <div id="main">
      <h2> Select a Song </h2><br />
      <% previous_song = " " %>
      <% for song in @browse -%>
        <% if previous_song != song.title %>
           <h3>
             <a href="../songs/<%=h song.id %>&?album=<%=h @artist.id %>"> <%=h song.title %> </a>
           </h3>
         <% end %>  
         <% previous_song = song.title %>
      <% end %>
      <br /><br />
      <div id="bottombackground">
      <p>
        All lyrics are property and copyright of their owners. All lyrics provided for educational purposes only.<br />
        If you are the owner of a copyright and would like to have the content removed, please contact dietzl@lyricmesh.com<br />
        Copyright © 2010 Lyricmesh.com
      </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
