<body>
  <div id="columns">
      <div id="adleft">
        <% render :partial => 'adcode', :locals => {:post => @post} %>
      </div>
      <div id="adright">
        <%=  image_tag (@current_album.photo_url, :size =>"140x140") %>
        <h5> <%= @current_album.album %> <%= @current_album.year %><br /><br/>
        Other Albums:
        <% for num in 0.. @albums.count-1 %>
          <% if @albums[num].album != @current_album.album %>
            <%=  image_tag (@albums[num].photo_url, :size =>"110x110") %><br/>
            <%= @albums[num].album %><br/><br/>
          <% end %>
        <% end %></h5>
      </div>
    <div id="main">
      <% previous_title = " " %>
      <h4>
        <a href="../albums?album=<%= @artists.id %>"> <%= @artists.name %> </a> <br /><br />
        <%= @songs.lyrics %>
      </h4>
      <br /><br />
      <div id="bottombackground">
      <p>
        All lyrics are property and copyright of their owners. All lyrics provided for educational purposes only.<br />
        If you are the owner of a copyright and would like to have the content removed, please contact dietzl@lyricmesh.com<br />
        Copyright © 2010 Lyricmesh.com
      </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
