<body>
  <div id="columns">
      <div id="adleft">
      </div>
      <div id="adright">
        <h3> <%= @artist.name %>
        <%= image_tag (@artist.image_url, :size =>"140x140") %>
        <%= @artist.genre %><br/>
        <p> <%= @artist.description %> </p>
        </h3>
      </div>
    <div id="main">
      <h2> Select an Album<br />
      <%= @artist.name %> </h2>
      <% previous_album = " " %>
      <% for album in @albums -%>
        <% if previous_album != album.album %>
           <h3>
             <% cd_cover = "../songs?browse=" + album.id.to_s %>
             <a href="../songs?browse=<%=h album.id %>"> <%=h album.album %> </a><br />
             <%= link_to image_tag (album.photo_url, :size =>"100x100"), cd_cover  %><br />
             <%= album.year %>
           </h3>
         <% end %>  
         <% previous_album = album.album %>
      <% end %>
      <br /><br />
      <div id="bottombackground">
      <p>
        All lyrics are property and copyright of their owners. All lyrics provided for educational purposes only.<br />
        If you are the owner of a copyright and would like to have the content removed, please contact dietzl@lyricmesh.com<br />
        Copyright © 2010 Lyricmesh.com
      </p>
      </div>
    </div>
</div>
</body>
</html>
