<% content_for :adright do %>
<p>
  <% cd_cover = "../content/albumsongs?browse=" + @album.id.to_s %>
  <%= link_to  image_tag (@album.photo_url, :size =>"110x110"), cd_cover %><br/>
  <h5> <%= @album.title %> <%= @album.year %> </h5>
  <%= @album.description %>
</p>       
<% end %>

<h2> Select a Song </h2><br />
<% for song in @songs -%>
  <h3><%= link_to(song.title,"../content/showsong?id="+song.id.to_s+"&album="+ @album.artist_id.to_s) %></h3>
<% end %><br/><br/>
