<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Lyric Mesh Lyrics (lyricmesh) </title>
  <%= stylesheet_link_tag 'scaffold', 'lyric' %>
</head>
<body>
  <div id="banner">
    <%= yield :banner %>
    <%= image_tag("logobackdrop.png")  %>
  </div>
  <div id="bannerbottom">
    <p>
      <div id="bannermiddle">
        <a href="../">Home</a> &nbsp;
        <%= link_to 'Genres', genre_path %> <br />
      </p>
      </div>
    <div id="artist">
      <% for a in 'a'..'z' %>
        <a href="../content/artists?artist=<%= a %>"><%= a.upcase %> </a>
      <% end %><br /><br />
    </div>
    <div id="bannerleftside">      
      Search by song or artist or browse by artist:
    </div>
    <div id="bannerside">
      <% form_tag '/search/results', :multipart => true, :method => 'get' do %>
      <%= text_field_tag :q %>
      <%= submit_tag "Search", :name => nil %><br />
      <%= radio_button_tag(:type, 'song', :checked => true) %> 
      <%= label_tag :song %>
      <%= radio_button_tag(:type, 'artist') %>
      <%= label_tag :artist %> 
      <% end %>
    </div>
  </div>
  <%= yield %>
</div>
</body>
</html>


